/*.*
/*


!/TeacherSite/
**/grappelli/**
**/static/admin/**
settings.py
__init__.py
asgi.py
wsgi.py
*.jpg
nginx.conf



!dashboard.py
!urls.py
!manage.py
!.gitignore
!requirements.txt
!wsgi.py
!asgi.py
**/__pycache__/**
**/migrations/**
**/media/**
