{% extends 'admin/base.html' %}
{% load static %}
<script type="text/javascript" src="{% static "js\jquery-3.4.1.min.js" %}"> </script>


 {% block content_title %}<h1>Сведения о состоянии сервера</h1>{% endblock %}




{% block content %}

<div>
		<div id="memory_used_diagram" style="width:25%;text-align: center;">
		  <H3>Свободное место на диске</h3>
		    <canvas id="pie_memory_used">
		      
		    </canvas>

		</div>
</div>

<script src="{% static 'js/chart.js' %}">   </script>
<script type="text/javascript" src="{% static 'js/charts_serverinfo.js' %}">   </script>
 {% endblock %}


