<!DOCTYPE html>
{% extends 'lk/lk_base.html' %}
{% load static %}

{% block title %} Мои результаты {% endblock %}

{% block header-content %} Мои результаты{% endblock %}
{% block article-content %}

<script src="{% static 'js/chart.js' %}">   </script>
<script type="text/javascript" src="{% static 'js/chart_lk_tests.js' %}">   </script>
{{res_counter|json_script:"dia_data" }}



{% if results %}

<div id="diagram_lk_tests">
  <H3>Свод по пройденным тестам</h3>
    <canvas id="testResChart">
      
    </canvas>

</div>

{% endif %}


{% if results %}
<table id="lk_test_results">
  <tr class="table_header">
     <th >Название теста</th><th >Попытка</th><th >Предмет</th><th >Результат</th><th >Дата прохождения</th>
    </tr>

   {% for r in results %}
    <tr height="50px">
        <td  class="res1" style="width:45%;"> {{r.test}}</td>
        <td style="width:10%;"> {{r.attempt_number}}</td>
        <td style="width:10%;">{{r.test_category}}</td>
        <td class="res" style="width:15%;">{{r.result_percentage}}</td>
        <td style="width:20%;">{{r.test_data}}</td>
     </tr>
   {% endfor %}

</table>
<br/>
 <div class="reminders">
                        {% if results.has_previous %}
                          <a href='?page={{results.previous_page_number}}' class="button" id="btn2"><<</a>
                        {% endif %}
                          Страница {{results.number}} из {{results.paginator.num_pages}}
                        {% if results.has_next %}
                          <a href='?page={{results.next_page_number}}' class="button">>></a>
                        {% endif %}
 </div>

{% else %}
<p>Пока нет пройденных тестов</p>
{% endif %}
<br/>



 {% endblock %}
