{% extends 'base.html' %}
{% load static %}
{% load cache %} 
{% block title %} Мои достижения {% endblock %}
{% block header-content %} Мои достижения  {% endblock %}

{% block article-header %}
    
{% endblock %}


{% block article-content %}

<script type="text/javascript" src="{% static 'js\achievements.js' %}">   </script>


{% for a in ach_cat %}
  <a class="button" style="margin:5px;" cat_id="{{a.id}}">{{a.name}}</a>
{% endfor %}

<div id="ach_block" class="list_of_blocks">

   {% for a in achs %}
    <div class="scheme_block" id='{{a.id}}'>
       <div class="scheme_image"> 
          {% if a.img1 %}
           <img width=50%  src='{{a.img1.url}}'/> <br/> 
          {% endif %}
           </div> 
       <div class="sheme_title" >{{a.name}}</div>
    </div>
   {% endfor %}


</div>


{% endblock %}

{% block out-of-article %}


<div id="achiev_modal">
	<a href="#" class="close_btn"></a>

	<div id="am_header">
     <h3></h3>
	</div>

	<div id="am_content">
     <div id="am_desc">
     </div>
     <div id='ach_img'>
      <img src="" />
     </div>      

	</div>
	
</div>

{% endblock %}

