{% extends 'base.html' %}
{% load static %}

{% block title %} Персональный сайт Анастасии Олеговны Фроловой {% endblock %}
{% block meta-content %}
Добро пожаловать на сайт учителя  Анастасии Фроловой!
Ресурс адресован учителям истории и обществознания, учащимся школ, а также их родителям.
Здесь вы можете найти полезные материалы по истории и обществознанию, пройти онлайн-тесты,
записаться на занятие.{% endblock %}

{% block header-content %} Главная  {% endblock %}

{% block article-header %}
    {{article.article_title}}
{% endblock %}


{% block article-content %}


<script type="text/javascript" src="{% static "js\img_chg_main_page.js" %}"> </script>


<script type="text/javascript" src="{% static "js\img_chg_main_page.js" %}"> </script>


<script type="text/javascript" src="{% static "js\img_chg_main_page.js" %}"> </script>


<div id="main_info_block" style="width:69%">
    <div style="clear:both;">
      <img  id="main_foto1" alt="Фото А.О.Фроловой" src="{{MEDIA_URL}}{{article.image.url}}" />
      <p>{{article.article_text|linebreaks}}</p>
    </div>


    <div style="clear:both;">
      <img  id="main_foto2" alt="Фото А.О.Фроловой" src="{{MEDIA_URL}}{{article.image2.url}}" />
      <p>{{article.article_text2|linebreaks}}</p>
    </div>
    <div style="float:right">
      <p><em>{{article.signature|linebreaks}}</em></p>
    </div>


</div>


<div id="mp_news_block">
  {% if news_list %}
    <div id="main_page_news">
        <div id="area_for_new" >
        </div>
        {% for n in news_list %}
          <div class="ind_new">
              <b style="color:red;">{{n.new_title}}</b>
              <br/>
              <em>{{n.new_description}}</em>
              <br/><br/>
              {% if n.new_image %}
              <img  class="news_img" alt="{{n.new_title}}" src="{{MEDIA_URL}}{{n.new_image.url}}" />
              {% endif %}
          </div>
        {% endfor %}

  </div>
  {% endif %}
    <br/>
    <br/>
    <div id="publications">
        <hr size="4" color="brown">
        <p style="margin-bottom:0.4em;">Последние публикации:</p>
        {% if task_list %}
          {% for task in task_list %}
            <b style="color:red">Задание:</b><a class="simple_href" href="{{task.file.url}}">{{task.task_name}}</a>
            <em>({{task.pub_date}})</em><br/>
          {% endfor %}
        {% endif %}
        {% if MemHistory_list %}
          {% for article in MemHistory_list %}
          <b style="color:red">Памятка по истории:</b><a class="simple_href" href="{% if article.file %}{{article.file.url}} {% endif %}">{{article.article_title}}</a>
          <em>({{article.pub_date}})</em>
          <br/>
          {% endfor %}
        {% endif %}
        {% if MemSocial_list %}
          {% for article in MemSocial_list %}
          <b style="color:red">Памятка по общ-ю:</b><a class="simple_href" href="{% if article.file %}{{article.file.url}} {% endif %}">{{article.article_title}}</a>
          <em>({{article.pub_date}})</em>
          <br/>
          {% endfor %}
        {% endif %}
        {% if Shema_list %}
          {% for sh in Shema_list %}
          <b style="color:red">Схема:</b><a class="simple_href" href="{% if sh.shema_image %}{{sh.shema_image.url}} {% endif %}">{{sh.shema_title}}</a>
          <em>({{sh.pub_date}})</em><br/>
          {% endfor %}
        {% endif %}
     </div>
</div>










{% endblock %}
