{% extends 'base.html' %}

{% block title %} Памятка по истории {% endblock %}
{% block header-content %} Полезная информация по истории {% endblock %}

{% block article-header %}
    {{article.article_title}}
{% endblock %}


{% block article-content %}
  <p>{{article.article_text|linebreaks}}</p>
   <em>Дата публикации: <br/>{{article.pub_date}}</em>
  {% if article.file %}
  <br/>
  <br/>
  <a href="{{article.file.url}}" class="button">Скачать памятку</a>
  {% endif %}
  
    <a class="button" href="{% url 'MemHistory' %}">Вернуться к списку памяток</a>
  <br/>
  <br/>
  <hr>
  <br>
  <p>Комментарии:</p>

  {% if comments_list %}
    {% for com in comments_list %}
     <div class="feedback">
       <div class="feed_text">
       {{com.comments}}
       </div>
       <div class="feedback_sign">
       <em>{{com.Person_name}}</em><BR/>
       <em>{{com.pub_date}}</em>
       </div>
    </div>
    {% endfor %}



  {% endif %}
  </div>
<br/>
<hr>

<div style="clear: both" class="comments_form">
<p>Оставьте свой комментарий к статье:</p>
<form  method="POST">
  {% csrf_token %}

  {% for field in comment_form %}

        <p>{{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </p>
  {% endfor %}

  <input type="submit" class="button"  value="Оставить комментарий"/>
</form>
</div>


{% endblock %}
