{% extends 'base.html' %}

{% block title %} Памятка по обществознанию {% endblock %}
{% block header-content %} Полезная информация по обществознанию {% endblock %}

{% block article-header %}
    {{article.article_title}}
{% endblock %}


{% block article-content %}
  <p>{{article.article_text|linebreaks}}</p>
  {% if article.file %}
  <a href="{{article.file.url}}" class="button">Скачать памятку</a>
  {% endif %}
  <br/>
  <br/>
  <em>Дата публикации: <br/>{{article.pub_date}}</em>
  <br/>
  <br/>
 <a href="{% url 'MemSocialList' %}">Вернуться к списку памяток</a>

{% endblock %}
