{% extends 'base.html' %}

{% block title %} Таблицы и схемы {% endblock %}
{% block header-content %} Таблицы и схемы  {% endblock %}

{% block article-header %}
  Таблицы и схемы
{% endblock %}




{% block article-content %}

<style>
 #btn1:active {
    margin-right:8.5px;
  }

  #btn2:active {
     margin-right:2.2px;
   }

</style>

  {% for category in category_list %}

      <a class="button" id="btn1"  href="{% url "shemas" category.id %}">{{category.category_name}}</a>

  {% endfor %}
  <br />
  <br />



  {% if shemas %}
 <div class="list_of_blocks">
    {% for sh in shemas %}
        <div class="scheme_block">
        <div class="scheme_image">
        <img class="" width=50%  src="{{MEDIA_URL}}{{sh.shema_image.url}}" /> <br/>
        </div>
        <div class="sheme_title">{{sh.shema_title}}</div>
        <a href="{{sh.shema_image.url}}" download class="simple_href">Скачать</a>
        </div>
    {% endfor %}
 </div>
  {% else %}
    <p>Пока схем нет...</p>
  {% endif %}

  <br />
  <p>
  <div class="paginator_shemas">
      {% if shemas.has_previous %}
        <a href='?page={{shemas.previous_page_number}}' class="button" id="btn2" ><<</a>
      {% endif %}
        Страница {{shemas.number}} из {{shemas.paginator.num_pages}}
      {% if shemas.has_next %}
        <a href='?page={{shemas.next_page_number}}' class="button">>></a>
      {% endif %}
  </div>
  </p>
{% endblock %}
    {% block out-of-article %}
    <!--Блок с затемнением для картинок -->
    <div class="fadeBlock">
       <div class="content">
          <img src="" class="full"/>
       </div>
    </div>
    {% endblock %}
