@media screen and (max-width: 1400px) {
   #pagewrap {
      width: 95%;
   }
}

@media screen and (max-width: 650px) {
   #pagewrap {
      width: 95%;
   }

   article  {

         padding:10px;
         background-color:transparent;
         position:static;
         height:auto;
         width:100%;
         float:top;

         font-size: 0.6em;
   }

.article_header{
  display:none;
  font-size:0.7em;
}

  aside {
        display:none;
        position:absolute;
        margin-top:11%;
        height:auto;
        width:40%;
        float:bottom;
        border-right:0px;
        z-index: 999;

  }


  .cal_button {
  padding:3px 25px;
  font-size: 0.8em;


  }.cal_button:hover{
    padding:3px 25px;
    font-size: 0.8em;
  }.cal_button:active{
  padding:3px 25px;
  font-size: 0.8em;
  }

  };




.paginator_reminders {

top:95%;
}

.article_list li {
  width:190px;
}
aside ul li a {
    font-size: 0.8em;
    height:33px;
}


#hint {
  display:none;
}

#mobile_menu_button{

  display:inline;
  margin-top: 1px;

  float:left;
}
.button{
  font-size: 0.8em;
  padding: 1px 3px;
}
.button:hover{
  font-size: 0.8em;
  padding: 1px 3px;
}
.button:active{
  font-size: 0.8em;
  padding: 1px 3px;
}

#head{
  font-size: 1em;

}
#header_content{
  display:block;
  font-size: 0.7em;
}

.simple_href {
  font-size: 0.7em;

}

#authent_panel{
  display:block;
  font-size:0.7em;

  margin-top:13px;
  width:100%;

  border-bottom:2px solid rgba(85, 24, 0, 0.932);
  overflow:hidden;


}
.comments_form {
  position:relative;
  margin-top:10%;




}

#calendar {
  position:relative;




}


#head{
  margin-bottom:15px;
}




}

@media screen and (max-width: 950px) {

  .comments_form {
    position:static;
    margin-top:10%;
  }

  #calendar {
    position:static;
    float:left;
    margin-top:10px;

  }


}

